# Arichives
*.zip
*.tar.gz
*.rar

# Data and Features
Dataset/
Features/
*.npy
*.csv
*.pkl

# Results and Models
Results_SVM/
Results_Report/

# Python environment and cache
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv
env/
build/
dist/
*.egg-info/

# IDE and OS files
.DS_Store
.vscode/
.idea/
*.swp
*.swo
